.logo-pane {
	position: absolute;
	height: 100%;
	width: 50%;
	top: 0%;
	left: 0%;
	background-color: rgb(50, 102, 102);
}

.b1 {
	background-color: orangered;
	bottom: calc(50% + 2px);
	right: calc(50% + 2px);
	border-radius: 30% 0% 10% 0%;
}

.b2 {
	 background-color: #7FBA00;
	bottom: calc(50% + 2px);
	left: calc(50% + 2px);
	border-radius: 0% 30% 0% 10%;
}

.b3 {
	background-color: #00A4EF;
	top: calc(50% + 2px);
	right: calc(50% + 2px);
	border-radius: 0% 10% 0% 30%;
}

.b4 {
	background-color: #FFB900;
	top: calc(50% + 2px);
	left: calc(50% + 2px);
	border-radius: 10% 0% 30% 0%;
}


.box {
	border: 5px solid rgb(230, 225, 216);
	position: absolute;
	height: 25%;
	width: 25%;
	box-shadow: 25px 30px 12px -5px hsl(0 0% 45% / 50%);
	animation: scale infinite 10s linear;
}

.logo-pane .container {
	position: absolute;
	height: 400px;
	width: 400px;
	top: calc(50% - 200px);
	right: calc(50% - 200px);
}

.logo {
	border-radius: 50%;
	border: 5px solid rgb(250, 250, 250);
	height: calc(100% - 10px);
	width: calc(100% - 10px);
	background-color: rgb(109, 220, 248);
	animation: rotate-circle infinite 10s ease-in-out ;
}


@keyframes scale {
	0% {
		height: 0%;
		width: 0%;
	}
	100% {
		height: 25%;
		width: 25%;
	}
}

@keyframes rotate-circle {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
