.pendulum-pane {
	position: absolute;
	height: 100%;
	width: 50%;
	top: 0%;
	left: 50%;
	background-color: rgb(57, 179, 179);

}
.rope {
	position: absolute;
	height: 80%;
	width: 4%;
	top: 0%;
	left: calc(50% - 2%);
	background-color: black;


}

.pendulum {
	position: absolute;
	height: 20%;
	width: 40%;
	border-radius: 50%;
	top: 80%;
	left: calc(50% - 20%);
	background: red;


}

.container-pen {
	position: absolute;
	height: 500px;
	width: 500px;
	top: calc(50% - 250px);
	left: calc(50% - 250px);


}

.box-pen {
	position: absolute;
	height: 50%;
	width: 25%;
	top: calc(50% - 125px);
	left: calc(50% - 62.5px);
	transform-origin: 50% 0%;
	animation: rotate 2s infinite linear;
}

@keyframes rotate {
	0%,50%,100% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-45deg);
	}
	75% {
		transform: rotate(45deg);
	}

}
