.b1 {
	background: orangered;
	top: 100px;
	left: 100px;
	border-radius: 30px 0px 10px 0px;
}

.b2 {
	 background: #7FBA00;
	top: 85px;
	left: 215px;
	border-radius: 0px 30px 0px 10px;
}

.b3 {
	background: #00A4EF;
	top: 215px;
	left: 100px;
	border-radius: 0px 10px 0px 30px;
}

.b4 {
	background: #FFB900;
	top: 200px;
	left: 215px;
	border-radius: 10px 0px 30px 0px;
}


.box {
	border: 5px solid rgb(230, 225, 216);
	position: absolute;
	height: 100px;
	width: 100px;
	box-shadow: 25px 30px 12px -5px #737373;
	transform: skew(0deg,-7deg);

}

.App {
	text-align: center;
	 background: rgb(109, 220, 248);
	height: 100vh;
	width: 100vw;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

