.b1 {
	background: orangered;
	top: 60px;
	left: 60px;
	border-radius: 30px 0px 10px 0px;
}

.b2 {
	 background: #7FBA00;
	top: 45px;
	left: 175px;
	border-radius: 0px 30px 0px 10px;
}

.b3 {
	background: #00A4EF;
	top: 175px;
	left: 60px;
	border-radius: 0px 10px 0px 30px;
}

.b4 {
	background: #FFB900;
	top: 160px;
	left: 175px;
	border-radius: 10px 0px 30px 0px;
}


.box {
	border: 5px solid rgb(230, 225, 216);
	position: absolute;
	height: 100px;
	width: 100px;
	box-shadow: 25px 30px 12px -5px #737373;
	transform: skew(0deg,-7deg);
	animation-name: scale;
	animation-duration: 5s;

}

.circle {
	position: absolute;
	height: 350px;
	width: 350px;
	top: 25%;
	left: 35%;
	border-radius: 50%;
	background: rgb(109, 220, 248);
	animation-name: rotate-circle;
	animation-duration: 5s;
}

.App {
	text-align: center;
	background: rgb(237, 247, 250);
	height: 100vh;
	width: 100vw;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes scale {
	from {
		height: 0px;
		width: 0px;
		border-radius: 0px;
	}
	to {
		height: 100px;
		width: 100px;
		border-radius: 10px 10px 10px 10px;
	}
}

@keyframes rotate-circle {
	0% {
		transform: rotate(0deg);
		top: 10%;
		left: 15%;
	}
	25% {
		transform: rotate(90deg);
		top: 10%;
		left: 70%;
	}
	50% {
		transform: rotate(180deg);
		top: 40%;
		left: 15%;
	}
	75% {
		transform: rotate(270deg);
		top: 40%;
		left: 70%;
	}
	100% {
		transform: rotate(360deg);
		top: 25%;
		left: 35%;
	}

}


